body {
    background-color: rgb(0, 0, 0);
    margin: auto;
    font-family: Verdana;
    max-width: auto;
}
#title,.subtitle, .post_title {
    color: rgb(18, 174, 252);
}
#title { 
    font-size: 40px;
    text-transform: uppercase;
}
.post_title {
    font-size: 17px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: aliceblue;
    padding: 15px;
    border: 3px solid rgb(18, 174, 252);
    margin-bottom: 15px;
    border-radius: 5px;
    width: 50%;
}

.parag {
    color: rgb(18, 174, 252);
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: justify;
}

.contato {
    color: rgb(18, 174, 252);

}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}